<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>


    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Resultado</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ nombre }}</td>
                <td> uppsercase</td>
                <td> {{ nombre | uppercase }}</td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> lowercase</td>
                <td> {{nombre | lowercase }}</td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> slice:3 </td>
                <td> {{nombre | slice:3 }}</td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> slice:0:3 </td>
                <td> {{nombre | slice:0:3 }}</td>
            </tr>
            <tr>
                <td> {{ array }}</td>
                <td> slice:1:5 </td>
                <td> {{array | slice:1:5 }}</td>
            </tr>
            <tr>
                <td> {{ PI }}</td>
                <td> number:'1.4-4' </td>
                <td> {{PI | number:'1.4-4' }}</td>
            </tr>
            <tr>
                <td> {{ a }}</td>
                <td> percent </td>
                <td> {{a | percent }}</td>
            </tr>
            <tr>
                <td> {{ a }}</td>
                <td> percent:2.2-4 </td>
                <td> {{a | percent:'2.2-4' }}</td>
            </tr>
            <tr>
                <td> {{ b }}</td>
                <td> currency </td>
                <td> {{b | currency }}</td>
            </tr>
            <tr>
                <td> {{ b }}</td>
                <td> currency:'EUR' </td>
                <td> {{b | currency:'EUR' }}</td>
            </tr>

        </tbody>
    </table>

    <h4>Slice</h4>
    <ul>
        <li *ngFor="let i of array | slice:5:20">
            {{ i }}
        </li>
    </ul>

</div>